<div id="#{{ link.slug }}" class="card mb-3">
    <div class="card-body">
        <h5 class="mb-3">
            {{ link.title }}
        </h5>
        <p>
            <i class="fa fa-calendar"></i> Created: {{ link.timestamp[:10] }} |
            <i class="fa fa-pencil-square-o"></i> Last Edited: {{ link.last_edited[:10] }}  |
            <i class="fa fa-file-word-o"></i> Word Count: {{ link.content | striptags | wordcount }}
        </p>
        <hr>
        <p>
            {% if link.content %}
            {{ link.content | safe }}
            {% else %}
            ...
            {% endif %}
        </p>
        <p>
            <div>
                #Author: {{ link.author }}
            </div>
            <div>
                #Link: <a href="{{ link.url }}">{{ link.url }}</a>
            </div>
        </p>
    </div>
</div>

