{% extends "base.html" %}

{% block page_content %}

<div>

    <div class="text-center">

        <img class="mb-6"
             src="/static/images/my-concept-icon.png">
    </div>

    <h1>
        Concepts
    </h1>

    <p>
        An alphabetical list of the concepts I frequently use in articles, working notes, podcasts and in my SM collection.
    </p>

    <h5>
        Contents
    </h5>
    {% if grouped_concepts %}
        <dl>
            {% for group in grouped_concepts %}
                <dt>
                    <a href="#{{ group[0] }}">{{ group[0] }}</a>
                </dt>
                {% for concept in group[1] %}
                    <dd style="padding-left: 10px;">
                        <a href="#{{ concept.slug }}">{{ concept.name }}</a>
                    </dd>
                {% endfor %}
            {% endfor%}

            {% for group in grouped_concepts %}
                <div id="{{ group[0] }}">
                    <h2>{{ group[0] }}</h2>
                    {% for concept in group[1] %}
                        {% include 'concepts/concept.html' %}
                    {% endfor %}
                </div>
                <hr>
            {% endfor %}

        </dl>
    {% else %}

        <p>No concepts. Check back later...</p>

    {% endif %}

</div>

{% endblock page_content %}
