{% extends "base.html" %}

{% block page_content %}
<div class="text-center">
    <img style="width: 25%; height: 25%" src="/static/images/logos/experimental-learning-logo.png">
</div>
<h1>Welcome</h1>
<p>A website about my learning experiments. Check out the <a href="articles">articles</a> I've written about my wacky ideas.
    The <a href="/links">links</a> page might interest you if you are short on interesting material to import.
    You can take a look at my working notes <a href="/notes">here</a>.
    Find out more about me on the <a href="/about">about</a> page.
    I also have a <a href="https://experimentallearning.substack.com/p/coming-soon">newsletter</a> which shares more of my working notes, commentary on links and extracts / items from links.
</p>

<p>
    <a href="/rss"><i class="fa fa-rss" aria-hidden="true"></i> RSS feed</a>
</p>


<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>Latest Posts</h2>
            <ul>
                {% if articles %}
                {% for article in articles %}
                <li>{{ article["timestamp"][:10] }} - <a class="article" slug="{{ article.slug }}" title="{{ article.title }}" href="/articles/{{ article.slug }}">{{ article.title }}</a></li>
                {% endfor %}
                {% else %}
                <li>No posts :(</li>
                {% endif %}
            </ul>
        </div>
            <div class="col">
                <div class="row mb-3">
                    {% include 'home_page/concept_box.html' %}
                </div>
            </div>
    </div>
</div>
{% endblock page_content %}