{% extends "base.html" %}

{% block page_content %}
<h1>About</h1>
<p>
    A person who likes learning and learning about learning.
</p>
<div>
    <h2>Interests</h2>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Spaced_repetition">Spaced Repetition <i class="fa fa-wikipedia-w"></i></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Quantified_self">Quantified Self <i class="fa fa-wikipedia-w"></i></a></li>
        <li><a href="https://www.supermemo.com/en/archives1990-2015/help/read">Incremental Reading <i class="fa fa-external-link"></i></a></li>
        <li><a href="https://supermemo.guru/wiki/SuperMemo_Guru">SuperMemo <i class="fa fa-external-link"></i></a></li>
        <li><a href="https://supermemo.wiki/sma/#/">SuperMemo Assistant <i class="fa fa-external-link"></i></a></li>
        <li><a href="https://supermemo.guru/wiki/Pleasure_of_learning">Pleasure of Learning <i class="fa fa-external-link"></i></a></li>
    </ul>
</div>
<div>
    <h2>Contact</h2>
    <p>
        A good way to get in touch is through the <a href="https://discord.com/invite/vUQhqCT">SMA.wiki</a> discord channel.
    </p>

    <p>
        You can send an email to experimentallearning0 (at) gmail dot com.
    </p>

    <p>
        Other:
    </p>
    <ul>
        <li><a href="https://github.com/bjsi">Github <i class="fa fa-github"></i></a></li>
    </ul>
</div>
<hr>
<div>
    <h2>Meta</h2>
    <h4>License</h4>
    <p>Everything written here is under the <a href="https://creativecommons.org/licenses/by-nc/3.0/">Creative Commons 3.0 <i class="fa fa-external-link"></i></a> license.</p>
</div>
<div>
    <h4>This site</h4>
    <p>Built with Python and Flask. HTML components and styling from Bootstrap. Icons from FontAwesome.</p>
</div>
{% endblock page_content %}