{% extends "base.html" %}

{% block page_content %}
    <div class="card mb-3"
         style="width: 100%;">
        <div class="card-body">
            <h2 >
                <a href="{{ url_for('detail', slug=article.slug) }}"
                   style="color:black;">{{ article.title }}</a>
            </h2>
            <small>
                <p>
                    <i class="fa fa-user-o"></i> Me  |  <i class="fa fa-calendar"></i> {{ article.timestamp[:10] }}
                </p>
            </small>
            <hr>
            <p class="card-text">
                {{ article.content }}
            </p>
            <hr>
            <small>
                <p>
                    <i class="fa fa-pencil-square-o"></i> Modified: {{ article.timestamp[:10] }}  |
                    <i class="fa fa-comments-o"></i> Comments  |
                    <i class="fa fa-file-word-o"></i> Words: {{ article.content | wordcount }}
                </p>
            </small>
        <hr>
        </div>
    </div>
{% endblock page_content %}